apiVersion: v1
baseDomain: {{ base_domain }}
compute:
- name: worker
  replicas: {{ worker_replicas }}
controlPlane:
  name: master
  replicas: {{ master_replicas }}
metadata:
  name: {{ cluster_name }}
platform:
  none: {}
pullSecret: '{{ pull_secret }}'
sshKey: |
  {{ ssh_public_key }}
